:root {

    --section-gap: 7rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xxl: 5rem;
    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;

    --border-radius: 0px;

    --color-dark-dark: #233729;
    --color-dark: hsl(139, 25%, 22%);
    --color-dark-200: #5E6C62;
    --color-dark-300: #53735D;
    --color-dark-400: #60886C;
    --color-dark-500: #8DAD97;
    --color-dark-600: #CBD4CD;
    --color-dark-700: #F0F5F2;
    --color-dark-800: #FCFFFD;
    --color-dark-900: #fff;

    --color-light: #fff;
    --color-light-100: hsla(144, 100%, 99%, 0.192);
    --color-light-200: #FCFFFD;
    --color-light-300: #F0F5F2;
    --color-light-400: #CBD4CD;
    --color-light-500: #8DAD97;
    --color-light-600: #60886C;
    --color-light-700: #53735D;
    --color-light-800: #5E6C62;
    --color-light-900: #2B4734;

    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Cormorant Infant', serif;

    --line-height-s: 1.5;
    --line-height: 2;

    --font-scale: 1.25;
    --font-size: 1rem;

    --font-size-1: var(--font-size); //16
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) ); //20
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) ); //25
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) ); //31,25
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) ); //39
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) ); //48
    --font-size-7: calc( var(--font-size-6) * var(--font-scale) ); //61

    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 72rem) [inner-end] minmax(32px, 1fr) [full-end]
}