@use '../utilities/responsive';

.footer {
    background-color: var(--color-dark);
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        padding: var(--section-gap) 0 var(--gap-s) 0;

        @include responsive.max(600px) {
            padding: var(--section-gap-inner) 0 var(--gap-s) 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-m);
        margin-bottom: var(--gap-m);

        @include responsive.max(600px) {
            gap: var(--gap-s);
        }
    }

    &__logo {
        display: block;
        line-height: 0;
        
        svg {
            width: 12.3rem;
            height: 100%;

            @include responsive.max(600px) {
                width: 9rem;
            }
        }


    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: var(--font-size-2);
        font-weight: 300;

        @include responsive.max(600px) {
            font-size: var(--font-size-1);
        }
    
        &-link {
            color: var(--color-light-500);
            svg {
                margin-left: var(--gap-s);
                transform: translateX(0);

                @include responsive.max(600px) {
                    margin-left: 0.5rem;
                }
            }

            &:hover {
                color: var(--color-dark-300);

                svg {
                    transform: translateX(0.5rem);
                }
    
                svg path{
                    fill: var(--color-dark-300);
                }
            }
        }
    }

    &__contact-list {
        display: flex; 
        justify-content: center;
        list-style: none;
        gap: var(--gap-xl);
        margin: 0;
        padding: 0;

        @include responsive.max(600px) {
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
        }

        a {
            color: var(--color-light-400);
        }
    }

    &__copyright {
        text-align: center;
        color: var(--color-dark-300);
        margin-top: var(--gap-l);

        p {
            font-size: 0.8rem;
        }

        @include responsive.max(600px) {
            margin-top: var(--gap-m);
            p {
                line-height: 1.5;
                margin-top: 0;
            }
        }
    }

    &__created-by {
        grid-column: full;
        background-color: var(--color-light-200);
        text-align: center;
        color: var(--color-dark-300);
        p {
            font-size: 0.8rem;
        }
    }
}